.news{width:100%; padding:65px 0 25px 0;}
.news .select{width:100%; background:#f0f0f0; padding:50px 70px 40px 70px;}
.news .select dl{width:20%; margin-right:2.25% !important; float:left; height:34px; }
.news .select dl:nth-child(1){ width:10%; line-height:34px; font-size:24px; font-weight:bold; color:#333333; }
.news .select dl:nth-child(5){ width: 18%; margin-right:0 !important; float: right;}
.news .select dl .an03{width:100%; background:#de0010; text-align:center; color:#fff; font-size:16px; line-height:34px; transition-duration: 1s; cursor: pointer;}
.news .select dl .an03:hover{background: #7d0009; font-weight: bold;}
.news .select dl input{width:100%; height:34px; line-height:34px; border:1px solid #e0e0e0; outline:none; padding:0 15px;}
.news .select dl select{width:100%; height:34px; line-height:34px; border:1px solid #e0e0e0; outline:none; padding:0 15px; color:#8a8a75}

.news1{width:100%; margin:0 auto; padding-bottom:75px;}
.news1 li{width:100%; border-bottom:1px solid #e1e1e1; padding:40px 50px 40px 75px; cursor: pointer;}
.news1 li:hover{background: #f0f0f0;}
.news1 li .time{width:7.6%; padding-top:30px; color:#999999;  font-family:"Arial"; float:left; transition-duration: 1s;}
.news1 li .time h1{ font-size:48px;}
.news1 li .time span{ font-size:16px; color: #333333; transition-duration: 1s;}
.news1 li .neir{width:70%; float:left; border-left:1px solid #e6e6e6; padding-left:15px; padding-bottom: 15px;}
.news1 li .neir .t1{font-size:20px; line-height:36px; color:#333333; transition-duration:1s; }
.news1 li:hover .neir .t1 a{ color:#de0010; font-weight:bold;}
.news1 li .neir .t2{line-height:44px; padding:0 40px 0 23px; color: #999999; float: left;}
.news1 li .neir .b1{background: url(../images/n-ic1.jpg) no-repeat left center;}
.news1 li .neir .b2{background: url(../images/n-ic2.jpg) no-repeat left center;}
.news1 li .neir .t3{width: 100%; margin-top: 10px; color: #555555; line-height: 24px; font-family:"simsun"; font-size: 14px; transition-duration: 1s;}
.news1 li:hover .neir .t3 a{ color:#de0010;}
.news1 li .pic{width:17.67%; float:right; background: #000; overflow: hidden;}
.news1 li .pic img{width: 100%; opacity: 1; transition-duration:1s;}
.news1 li:hover .pic img{ transform: scale(1.1,1.1); opacity: 0.7; }
.news1 li:hover .time{color: #cb1421;}
.news1 li:hover .time span{color: #cb1421;}


.news2{width:100%; margin:0 auto; padding-bottom:75px;}
.news2 li{width:100%; border-bottom:1px solid #e1e1e1; padding:40px 50px 40px 75px; cursor: pointer;}
.news2 li:hover{background: #f0f0f0;}
.news2 li .time{width:7.6%; padding-top:30px; color:#999999;  font-family:"Arial"; float:left; transition-duration: 1s;}
.news2 li .time h1{ font-size:48px;}
.news2 li .time span{ font-size:16px; color: #333333; transition-duration: 1s;}
.news2 li .neir{width:70%; float:left; border-left:1px solid #e6e6e6; padding-left:15px; padding-bottom: 15px;}
.news2 li .neir .t1{font-size:20px; line-height:36px; color:#333333; transition-duration:1s; }
.news2 li:hover .neir .t1 a{ color:#de0010; font-weight:bold;}
.news2 li .neir .t2{line-height:44px; padding:0 40px 0 23px; color: #999999; float: left;}
.news2 li .neir .b1{background: url(../images/n-ic1.jpg) no-repeat left center;}
.news2 li .neir .b2{background: url(../images/n-ic2.jpg) no-repeat left center;}
.news2 li .neir .t3{width: 100%; margin-top: 10px; color: #555555; line-height: 24px; font-family:"simsun"; font-size: 14px; transition-duration: 1s;}
.news2 li:hover .neir .t3 a{ color:#de0010;}
.news2 li .pic{width:17.67%; float:right; background: #000; overflow: hidden;}
.news2 li .pic img{width: 100%; opacity: 1; transition-duration:1s;}
.news2 li:hover .pic img{ transform: scale(1.1,1.1); opacity: 0.7; }
.news2 li:hover .time{color: #cb1421;}
.news2 li:hover .time span{color: #cb1421;}

.news3{width:100%; margin:0 auto; padding-bottom:75px;}
.news3 li{width:100%; border-bottom:1px solid #e1e1e1; padding:40px 50px 40px 75px; cursor: pointer;}
.news3 li:hover{background: #f0f0f0;}
.news3 li .time{width:7.6%; padding-top:30px; color:#999999;  font-family:"Arial"; float:left; transition-duration: 1s;}
.news3 li .time h1{ font-size:48px;}
.news3 li .time span{ font-size:16px; color: #333333; transition-duration: 1s;}
.news3 li .neir{width:70%; float:left; border-left:1px solid #e6e6e6; padding-left:15px; padding-bottom: 15px;}
.news3 li .neir .t1{font-size:20px; line-height:36px; color:#333333; transition-duration:1s; }
.news3 li:hover .neir .t1 a{ color:#de0010; font-weight:bold;}
.news3 li .neir .t2{line-height:44px; padding:0 40px 0 23px; color: #999999; float: left;}
.news3 li .neir .b1{background: url(../images/n-ic1.jpg) no-repeat left center;}
.news3 li .neir .b2{background: url(../images/n-ic2.jpg) no-repeat left center;}
.news3 li .neir .t3{width: 100%; margin-top: 10px; color: #555555; line-height: 24px; font-family:"simsun"; font-size: 14px; transition-duration: 1s;}
.news3 li:hover .neir .t3 a{ color:#de0010;}
.news3 li .pic{width:17.67%; float:right; background: #000; overflow: hidden;}
.news3 li .pic img{width: 100%; opacity: 1; transition-duration:1s;}
.news3 li:hover .pic img{ transform: scale(1.1,1.1); opacity: 0.7; }
.news3 li:hover .time{color: #cb1421;}
.news3 li:hover .time span{color: #cb1421;}

.meet-list3{ width: 100%; padding-top: 40px;  }
.meet-list3 li{width: 30%; margin-right:5%; float:left; _display:inline; overflow:hidden;  cursor: pointer; margin-bottom:50px; transition-duration: 1s;}
.meet-list3 li:nth-child(3n){margin-right: 0;}
.meet-list3 li .pic{width: 100%; background: #000; overflow: hidden;}
.meet-list3 li .pic img{display: block; width: 100%; transition-duration: 1s;}
.meet-list3 li:hover .pic img{transform:scale(1.1,1.1); opacity: 0.7;}
.meet-list3 li .mw{border-bottom: 1px solid #eaeaea; padding-top:20px;}
.meet-list3 li .mw .fbit{width: 100%; line-height: 52px; position: relative; font-size: 18px; color: #333333; font-weight:bold;}
.meet-list3 li .mw .fbit:after{width: 18px; height: 4px; background: #cb1421; position: absolute; top: -4px; left: 0; content: ""; transition-duration: 1s;}
.meet-list3 li .mw .fbit span{display: inline-block; color: #999999; font-size: 16px; font-weight:normal;}
.meet-list3 li .mw .zneir{padding-top: 15px; font-size: 16px; line-height: 26px; color: #555555; overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;}
.meet-list3 li .mw .time01{line-height: 36px; color: #999999; font-size: 15px; padding-top: 15px;}
.meet-list3 li:hover .mw .fbit:after{width: 36px;}

.new-detail{width: 100%; text-align: center; line-height: 60px; font-size: 24px; font-weight:bold; }
.new-detail1{ padding:10px 0; width:85%; margin:0 auto; }
.new-detail1 p{ font-size: 15px; line-height: 28px; color: #555555; padding-bottom:20px;}
.new-fb-da{ width:100%; text-align:center; margin:10px 0;border-bottom: 1px solid #e1e1e1;}
.new-fb-da p{ display:inline-block; margin:0 10px 10px 10px; padding-bottom:15px; font-size:16px; color:#555;}

@media screen and (max-width:992px){
	.news{ padding:20px 0;}
	.news .select{ padding:10px; box-sizing:border-box}
	.news .select dl:nth-child(1),.news .select dl{ width:100%; box-sizing:border-box; margin-bottom:10px;}
	.news .select dl input{ box-sizing:border-box}
	.news1 li{ padding:0 15px 0 0; margin-bottom:15px;}
	.news1 li .pic{ display:none;}
	.news1 li .neir .t1{ font-size:18px;white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
	.news1 li .time{ width:20%; text-align:center;}
	.news1 li .time h1{ font-size:30px;}
	.news1 li .neir .t3{overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;}
	.new-detail1 img{ width:100% !important; height:auto !important; }
	}